PySimpleGUI
typing
numpy
openai
requests
Pygments
pyodbc
pandas
fitz
matplotlib
pillow
openpyxl
scikit-learn
torch
tensorflow
scipy
seaborn
soundfile
sounddevice
loguru
statsmodels
dotenv
python-dotenv
openai